<div class="container">
    <div class="row">
        {{#if hasError}}
            <br><br><br>
            <div class="alert alert-danger text-center">
                <p>{{message}}</p>
            </div>
        {{else}}
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <h1 class="text-center">{{user.username}}'s Profile</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <img src="{{user.image}}" alt="{{user.username}} gravatar picture" class="gravatar-img img-responsive img-circle">
                    </div>
                    <br>
                    <div class="col-md-8 col-sm-8">
                        <div class="form-group profile-element">
                            <label for="username">Username: <strong style="color: blue;"><a href="/user/profile/{{user.userID}}">{{user.username}}</a></strong></label>
                        </div>
                        <div class="form-group profile-element">
                            <label for="email">E-mail: <strong style="color: blue;"><a href="mailto:{{ user.email }}">{{user.email}}</a></strong></label>
                        </div>
                        <div class="form-group profile-element">
                            <label for="budget">Budget: <strong>{{user.budget}}</strong></label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-sm-6 form-group profile-element">
                        <label for="gender">Gender: <strong>{{gender}}</strong></label>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group profile-element">
                        <label for="age">Age: <strong>{{user.age}}</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-group profile-element" style="">
                        <label for="description">Description: <strong>{{user.description}}</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 form-group profile-element">
                        <label for="likes">Likes: <strong>2</strong></label>
                        <hr>
                        <label for="latestlike">Latest Liked Product:</label>
                        <br>
                        <p>product name</p>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group profile-element">
                        <label for="comments">Comments: <strong>3</strong></label>
                        <hr>
                        <label for="comments">Latest Comment:</label>
                        <br>
                        <p>latest comment</p>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>